# Secrets #
#######################
Token.txt
YourID.txt

# Suggestions #
#######################
*.txt

# Other files #
#######################
roller.py
Dice-Roller/
Dice-Roller/*
__pycache__/
__pycache__/*
*.swp
CustomData/
CustomData/*
roller/
roller/*
