[Unit]
Description=Run Dungeon Master Bot as a service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /usr/bin/Dungeon-Master-Bot/Dungeon-Master.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
